:root {
  --red-main: #880e4f;
}

body {
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main-container h1 {
  color: #444;
  text-align: center;
}

#main-container {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#book-list-container {
  color: #444;
  text-align: left;
  padding: 20px;
}

#book-list {
  padding: 0;
}

#book-list .book-list-element {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--red-main);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  color: var(--red-main);
}

#book-list li {
  display: inline-block;
  padding: 5px;
  color: var(--red-main);
  cursor: pointer;
}

#book-list button {
  display: inline-block;
  padding: 5px 10px;
  color: var(--red-main);
  border: none;
  cursor: pointer;
}

#book-list button:hover {
  display: inline-block;
  color: white;
  padding: 5px 10px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  background-color: var(--red-main);
}

#book-details-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background-color: var(--red-main);
  padding: 30px;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  color: white;
}
